<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proto</title>
    <style>
      body {
        background: gray;
        margin: 0;
      }
      main {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin: 32px;
      }
    </style>
    <script>
      const eventSource = new EventSource("http://localhost:2000");
      eventSource.onmessage = (event) => {
        if (event.data === "refresh") {
          // location.reload();
        }
      };
    </script>
  </head>
  <body>
    <main>{content}</main>
  </body>
</html>
