body {
  background: #202020;
  margin: 0;
  overflow: scroll;
}

#controls {
  position: fixed;
  top: 10px;
  right: 10px;
}

#proto {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 64px;
  padding: 48px;
  -webkit-font-smoothing: antialiased;
}
