body {
  background: #202020;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#controls {
  position: fixed;
  top: 10px;
  right: 10px;
}

#draggable-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#content {
  position: absolute;
}
